.sidebar {
  float: left;
  background-color: red;
  width: 20%;
  height: ;
  border: 2px solid black;
  padding: 4px;
  padding-bottom: 1600px;
}

.images {
  float: left;
  max-width: 70%;
  padding: 10px;
}

.image-resize {
  max-width: 100%;
}

.main {
  float: left;
  max-width: 70%;
  padding: 10px;
}
